@model _1670Project.Models.Book

@{
    ViewData["Title"] = "Create";
}

<hr />
<form asp-action="Create" method="post" class="w-40">
    <h2 class="pb-10">Add Book</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-container">
        <label asp-for="Title" class="w-40"></label>
        <input asp-for="Title" class="input" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="input-container">
        <label asp-for="Author" class="w-40"></label>
        <input asp-for="Author" class="input" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="input-container">
        <label asp-for="ImageUrl" class="w-40"></label>
        <input asp-for="ImageUrl" class="input" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="input-container">
        <label asp-for="Price" class="w-40"></label>
        <input asp-for="Price" class="input" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="input-container">
        <label asp-for="ReleaseDate" class="w-40"></label>
        <input asp-for="ReleaseDate" class="input" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="input-container">
        <label asp-for="DateAdded" class="w-40"></label>
        <input asp-for="DateAdded" class="input" />
        <span asp-validation-for="DateAdded" class="text-danger"></span>
    </div>
    <div class="input-container">
        <label asp-for="GenreId" class="w-40"></label>
        <select asp-for="GenreId" class="input" asp-items="ViewBag.GenreId"></select>
    </div>
    <div class="input-container">
        <label asp-for="BookNumber" class="w-40"></label>
        <input asp-for="BookNumber" class="input" />
        <span asp-validation-for="BookNumber" class="text-danger"></span>
    </div>
    <div class="input-container">
        <a class="btn btn-danger" asp-controller="Books" asp-action="Index">List Book</a>
        <button type="submit" class="btn btn-sec">Create</button>
    </div>
</form>
